@charset "utf-8";
/* CSS Document */ 

body {
	
	background-color: MediumSeaGreen;
	font-family: sans-serif; 	
    } 
div {
		background-color:#FFF6E8;
	    margin: 0 auto; 
		width: 800px;
		height: 1000px;
		padding: 10px; 
		border: 4px chocolate groove; 
	} 

img {
    margin: 5px; 
	border: 4px chocolate groove;
}

h1 {
	font-family: font-family: 'Anton', sans-serif;
}

  